$color-primary: #0000ff;
$color-bg: #ffffff;
$font-main: 'Inter', Arial, sans-serif;
$font-size-xxl: 68px;
$font-size-xl: 40px;
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size-sm: 18px;
$page-width: 1920px; 